@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
    list-style-type: none;
    font-size: 25px;
    padding: 0;
}

.input{
    height: 30px;
    width: 250px;
    
}

.AddnewTodoMain{
    display: flex;
    justify-content: start ;
    align-items: center;
    gap:25px;
}

button{
    height: 30px;
    width: 65px;
    background: rgb(69, 155, 184);
    color: white;
}

.newItem{
    color: gray;
    width: 100%;
    height: 55px;
    border-bottom: 2px solid gray;
    margin-top: 20px;
}
